/*En esta sección estarán las variables*/

/*variables del header*/
$color-header: #56beb6;
$color-hover-menu: white;
/*Fin variables del header*/

/*Inicio variables de la sectionUno*/

$color-letras: white;
$color-registrarse: #f29985;

/*Fin variables de la sectionUno*/

/*Inicio variables de la sectionDos*/
$bg-section2: #56beb6;

/*Fin de las variables de la sectionDos*/

/*Inicio variables de la sectionTres*/

$bg-section3: #f2cf66;
$bg-cajitas: #f29985;
$shadow: #56beb6;

/*Fin variables de la sectionTres*/

/*Inicio variables de la sectionCuatro*/

$bg-section4: #f29985;
$btn: #56beb6;

/*Fin estilos del footer*/

$pie-contenedor3: #f2cf66 /*Variables fonts de las sectiones*/;

$font: "Anton", sans-serif;

/*variable Nosotros*/

$bg-color-sectionDos-nosotros: #f29985;
