@import "../maquetacionHome";
@import "../../bases/variables.scss";

.grid-containerSabores {
  overflow-x: hidden;
  .sectionUnoSabores {
    img {
      width: 100%;
      height: 100%;
      position: relative;
    }
    p {
      color: $color-letras;
    }
    .sabores {
      font-family: $font;
      font-size: 200px;
      position: absolute;
      top: 18%;
      left: 2%;
      text-shadow: 4px 4px 4px black;
      @media only screen and (min-width: 481px) and (max-width: 960px) {
        font-size: 120px;
        top: 18%;
      }
      @media only screen and (max-width: 480px) {
        font-size: 80px;
        top: 16%;
      }
    }
    .nuestros {
      position: absolute;
      top: 8%;
      left: 2%;
      font-size: 100px;
      text-shadow: 4px 4px 4px black;
      @media only screen and (min-width: 481px) and (max-width: 960px) {
        font-size: 80px;
      }
      @media only screen and (max-width: 480px) {
        font-size: 40px;
        top: 12%;
      }
    }
  }

  /*inicio estilos sectionDos Sabores*/
  .sectionDosSabores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $bg-color-sectionDos-Sabores;
    flex-wrap: wrap;

    .carousel {
      width: 600px;
      height: 400px;

      @media only screen and (min-width: 481px) and (max-width: 960px) {
        width: 400px;
      }

      @media only screen and (max-width: 480px) {
        width: 320px;
        height: 375px;
      }
      .carousel-indicators {
      }
      div {
        img {
          height: 400px;
          width: 600px;
          @media only screen and (max-width: 480px) {
            width: 375px;
            height: 375px;
          }
        }
      }
    }
  }
  .texto__carrusel {
    p {
      width: 600px;
      height: 150px;
      color: $color-letras;
      @media only screen and (min-width: 481px) and (max-width: 960px) {
        width: 450px;
        position: relative;
        bottom: 65px;
      }
      @media only screen and (max-width: 480px) {
        width: 320px;
        position: relative;
        bottom: 105px;
      }
    }
    h1 {
      color: $color-letras;
      @media only screen and (min-width: 481px) and (max-width: 960px) {
        text-align: center;
        position: relative;
        bottom: 70px;
      }
      @media screen and (max-width: 480px) {
        position: relative;
        bottom: 105px;
      }
    }
  }
  /*Fin estilos sectionDos de sabores*/

  /*Inicio sectionTres de sabores*/
  .sectionTresSabores {
    background-color: $bg-section4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .sectionTresSabores__contenedor1 {
      width: 600px;
      p {
        color: $color-letras;
        @media only screen and (max-width: 480px) {
          width: 290px;
          height: 240px;
          position: relative;
          left: 50px;
        }
        @media only screen and (min-width: 481px) and (max-width: 960px) {
          width: 450px;
          position: relative;
          left: 15px;
        }
      }
      h1 {
        @media only screen and (min-width: 481px) and (max-width: 960px) {
          text-align: center;
        }
        @media only screen and (max-width: 480px) {
          text-align: center;
        }
        color: $color-letras;
      }
    }
    .sectionTresSabores__contenedor2 {
      width: 650px;
      height: 450px;

      img {
        width: 650px;
        height: 450px;
        @media only screen and (min-width: 481px) and (max-width: 960px) {
          width: 450px;
          position: relative;
          left: 15px;
        }
        @media only screen and (max-width: 480px) {
          width: 290px;
          height: 240px;
          position: relative;
          left: 50px;
          top: 195px;
        }
      }
    }
  }

  /*Inicio sectionCuatro de Sabores*/
  .sectionCuatroSabores {
    background-color: $bg-color-sectionCuatro-Sabores;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .sectionCuatroSabores__contenedor1 {
      width: 650px;
      video {
        width: 650px;
        height: 450px;
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          width: 400px;
          position: relative;
          left: 45px;
        }
        @media only screen and (max-width: 480px) {
          width: 305px;
          position: relative;
          bottom: 75px;
          left: 38px;
        }
      }
    }
    .sectionCuatroSabores__contenedor2 {
      width: 650px;
      height: 250px;
      h2 {
        color: $color-letras;
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          text-align: center;
          position: relative;
          bottom: 75px;
        }
        @media only screen and (max-width: 480px) {
          width: 350px;
          position: relative;
          bottom: 200px;
          left: 10px;
          text-align: center;
        }
      }
      p {
        color: $color-letras;
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          position: relative;
          left: 10px;
          width: 480px;
          bottom: 70px;
        }
        @media only screen and (max-width: 480px) {
          width: 305px;
          position: relative;
          bottom: 205px;
          left: 40px;
        }
      }
    }
  }
}
