@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import "../../scss/bases/variables.scss";
* {
  padding: 0;
  margin: 0;
}

/*Inicio maquetacion index desktop*/
.grid-container {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 90px 650px 400px 500px 600px 400px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sectionUno"
    "sectionDos"
    "sectionTres"
    "sectionCuatro"
    "footer";
  .header {
    grid-area: header;
    background-color: $color-header;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .sectionUno {
    grid-area: sectionUno;
    width: 100%;
  }
  .sectionDos {
    grid-area: sectionDos;
    width: 100%;
  }

  .sectionTres {
    grid-area: sectionTres;
    width: 100%;
  }

  .sectionCuatro {
    grid-area: sectionCuatro;
    width: 100%;
  }

  .pie {
    grid-area: footer;
    width: 100%;
  }
}

/*Fin maquetacion desktop*/

/*----------------------------------------------------------------------*/

/*Inicio maquetacion index medianas*/

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .grid-container {
    display: grid;
    grid-template-rows: 90px 300px 600px 1300px 400px 350px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUno"
      "sectionDos"
      "sectionTres"
      "sectionCuatro"
      "footer";
  }
}

/*Fin maquetacion index medianas*/

/*---------------------------------------------------------------*/

/*Inicio maquetacion index mobile*/

@media only screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-rows: 90px 300px 480px 1300px 400px 350px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUno"
      "sectionDos"
      "sectionTres"
      "sectionCuatro"
      "footer";
  }
}

/*---------------------------------------------------------------*/

/*Inicio maquetacion del Nosotros desktop*/

.grid-containerNosotros {
  display: grid;
  grid-template-rows: 90px 600px 600px 700px 400px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sectionUnoNosotros"
    "sectionDosNosotros"
    "sectionTresNosotros"
    "footer";
  .header {
    grid-area: header;
    background-color: $color-header;
    width: 100%;
  }

  .sectionUnoNosotros {
    grid-area: sectionUnoNosotros;
    width: 100%;
  }

  .sectionDosNosotros {
    grid-area: sectionDosNosotros;
    width: 100%;
  }

  .sectionTresNosotros {
    grid-area: sectionTresNosotros;
    width: 100%;
  }

  .pie {
    grid-area: footer;
    width: 100%;
  }
}

/*Fin maquetacion Nosotros desktop*/

/*------------------------------------------------------------*/

/*Inicio maquetacion Nosotros pantalla mediana*/

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .grid-containerNosotros {
    display: grid;
    grid-template-rows: 90px 350px 600px 1200px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoNosotros"
      "sectionDosNosotros"
      "sectionTresNosotros"
      "footer";
  }
}

/*Fin maquetacion pantalla mediana de nosotros*/

/*-------------------------------------------------------------*/

/*Inicio maquetacion de nosotros en mobile*/

@media only screen and (max-width: 480px) {
  .grid-containerNosotros {
    display: grid;
    grid-template-rows: 90px 250px 650px 1200px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoNosotros"
      "sectionDosNosotros"
      "sectionTresNosotros"
      "footer";
  }
}

/*Fin maquetacion de nosotros mobile*/

/*------------------------------------------------------------------*/

/*inicio maquetacion de Sabores*/

/*inicio maquetacion desktop de Sabores*/

/*Inicio maquetacion index desktop*/
.grid-containerSabores {
  display: grid;
  grid-template-rows: 90px 540px 500px 500px 500px 400px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sectionUnoSabores"
    "sectionDosSabores"
    "sectionTresSabores"
    "sectionCuatroSabores"
    "footer";
  .header {
    grid-area: header;
  }
  .sectionUnoSabores {
    grid-area: sectionUnoSabores;
    width: 100%;
  }
  .sectionDosSabores {
    grid-area: sectionDosSabores;
    width: 100%;
  }

  .sectionTresSabores {
    grid-area: sectionTresSabores;
    width: 100%;
  }

  .sectionCuatroSabores {
    grid-area: sectionCuatroSabores;
    width: 100%;
  }

  .pie {
    grid-area: footer;
    width: 100%;
  }
}

/*Fin maquetacion desktop Sabores*/

/*--------------------------------------------------------*/

/*Inicio maquetacion mediana Sabores */

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .grid-containerSabores {
    display: grid;
    grid-template-rows: 90px 300px 850px 870px 710px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoSabores"
      "sectionDosSabores"
      "sectionTresSabores"
      "sectionCuatroSabores"
      "footer";
  }
}

/*Fin maquetacion mediana sabores*/

/*-------------------------------------------------------*/

/*inicio maquetacion mobile sabores*/

@media only screen and (max-width: 480px) {
  .grid-containerSabores {
    display: grid;
    grid-template-rows: 90px 250px 850px 850px 600px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoSabores"
      "sectionDosSabores"
      "sectionTresSabores"
      "sectionCuatroSabores"
      "footer";
  }
}

/*Fin maquetacion mobile sabores*/

/*--------------------------------------------------------------------------------------*/

/*Inicio maquetacion Contactanos desktop*/

.grid-containerContactanos {
  display: grid;
  grid-template-rows: 90px 570px 610px 400px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sectionUnoContactanos"
    "sectionDosContactanos"
    "footer";
  .header {
    grid-area: header;
    background-color: $color-header;
    width: 100%;
  }

  .sectionUnoContactanos {
    grid-area: sectionUnoContactanos;
    width: 100%;
  }

  .sectionDosContactanos {
    grid-area: sectionDosContactanos;
    width: 100%;
  }

  .pie {
    grid-area: footer;
    width: 100%;
  }
}

/*Fin maquetacion de Contactanos Sabores Desktop*/

/*---------------------------------------------*/

/*Inicio maquetacion de Contactanos en pantalla mediana*/

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .grid-containerContactanos {
    display: grid;
    grid-template-rows: 90px 320px 600px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoContactanos"
      "sectionDosContactanos"
      "footer";
  }
}
/*Fin maquetacion de Contactanos en pantalla mediana*/

/*----------------------------------------------------------*/

/*Inicio maquetacion de contactanos en mobile*/

@media only screen and (max-width: 480px) {
  .grid-containerContactanos {
    display: grid;
    grid-template-rows: 90px 220px 600px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoContactanos"
      "sectionDosContactanos"
      "footer";
  }
}

/*Fin maquetacion de contactanos de mobile*/

/*---------------------------------------------------------*/

.grid-containerHistoria {
  display: grid;
  grid-template-rows: 90px 570px 410px 400px;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "sectionUnoHistoria"
    "sectionDosHistoria"
    "footer";
  .header {
    grid-area: header;
    background-color: $color-header;
    width: 100%;
  }

  .sectionUnoHistoria {
    grid-area: sectionUnoHistoria;
    width: 100%;
  }

  .sectionDosHistoria {
    grid-area: sectionDosHistoria;
    width: 100%;
  }

  .pie {
    grid-area: footer;
    width: 100%;
  }
}

/*Fin maquetacion de historia desktop*/

/*--------------------------------------------------*/

/*Inicio maquetacion Historia mediana*/

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .grid-containerHistoria {
    display: grid;
    grid-template-rows: 90px 300px 750px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoHistoria"
      "sectionDosHistoria"
      "footer";
  }
}

/*Fin maquetacion Historia mediana*/

/*------------------------------------------------------------*/

/*Inicio maquetacion Historia mobile*/

@media only screen and (max-width: 480px) {
  .grid-containerHistoria {
    display: grid;
    grid-template-rows: 90px 250px 790px 400px;
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sectionUnoHistoria"
      "sectionDosHistoria"
      "footer";
  }
}
