/*Inicio estilos home para pantallas medianas del home*/
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .grid-container {
    /*Inicio maquetacion index*/
    display: grid;
    grid-template-rows: 100px 300px 800px 1000px 400px 350px;
    grid-template-areas:
      "header"
      "sectionUno"
      "sectionDos"
      "sectionTres"
      "sectionCuatro"
      "footer";
    .sectionUno {
      .sectionUno__contenedor1 {
        p {
          width: 100%;
          font-size: 14px;
          color: white;
        }
        .sectionUno__registrarse {
          position: relative;
          color: white;
          padding: 5px 10px;
          width: fit-content;
          text-decoration: none;
        }
      }
    }
    .sectionDos {
      .sectionDos__contenedor1 {
        display: flex;
        flex-direction: column;
        justify-content: centert;
        align-items: center;

        .sectionDos__contenedor1__video {
          width: 90%;
        }
      }
    }
    .sectionTres {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;

      .sectionTres__contenedor {
        width: 250px;
        height: 300px;
        border-radius: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 10px 5px 10px #56beb6;
        .sectionTres__david {
          text-align: center;
        }

        img {
          width: 80%;
          border-radius: 15%;
          position: relative;
          top: 10px;
        }
        .nombre {
          position: relative;
          top: 10px;
          font-family: "Roboto", sans-serif;
        }
        .otro {
          width: 80%;
          position: relative;
          bottom: 2%;
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }
}
