/*aqui importaremos los mixin*/
@import "../bases/mixins";
@import "../bases/variables.scss";

/*Inicio sectionDos*/
.sectionDos {
  background-color: $bg-section2;
  .sectionDos__contenedor1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .sectionDos__contenedor1__video {
      width: 40%;
      /*adaptacion del video a pantalla mediana*/
      @media only screen and (min-width: 481px) and (max-width: 960px) {
        width: 500px;
      }
      /*apaptacion del video a mobile*/
      @media only screen and (max-width: 480px) {
        width: 350px;
      }
    }
    .sectionDos__contenedor2 {
      /*aqui inclui el mixin con el color blanco que esta guardado con $color-letras*/
      @include primer-mixin($color-letras);
      width: 550px;
      @media only screen and (max-width: 480px) {
        width: 350px;
      }
    }
  }
} /*Fin sectionDos*/
