/*aqui importaremos los mixin*/
@import "../bases/mixins";
@import "../bases/variables.scss";

/*Inicio sectionDos*/
.sectionDos {
  background-color: $bg-section2;
  .sectionDos__contenedor1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .sectionDos__contenedor1__video {
      width: 40%;
    }
    p {
      /*aqui inclui el mixin con el color blanco que esta guardado con $color-letras*/
      @include primer-mixin($color-letras);
      width: 40%;
    }
  }
} /*Fin sectionDos*/
